<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="dotnettools.workflow.util.vsa" type="DotNetTools.Workflow.Util.Vsa.VsaHandler,DotNetTools.Workflow"/>
     <section name="castle"
                 type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <dotnettools.workflow.util.vsa>
    <reference location="dotnettools.test.dll"/>
    <reference location="c:\windows\microsoft.net\framework\v1.1.4322\system.dll"/>
    <import namespace="System.Text"/>
    <import namespace="DotNetTools.Workflow.Basic"/>
  </dotnettools.workflow.util.vsa>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects>
    <object name="myFunction" type="DotNetTools.Workflow.Functions.MyFunction,DotNetTools.Test"/>
   <object name="typeResolver" type="DotNetTools.Workflow.Util.SpringTypeResolver,DotNetTools.Workflow"/>
    <object name="workflowStoreFactory" type="DotNetTools.Workflow.WorkflowStoreFactory,DotNetTools.Test"/>
 <object name="workflowStore" factory-method="CreateInstance" factory-object="workflowStoreFactory">
<constructor-arg><value>memory</value></constructor-arg>
<constructor-arg>
<dictionary>
<entry key="connectionString"><value>server=(local);user id=sa;pwd=;database=osworkflow</value></entry>
</dictionary>
</constructor-arg>
</object>
        <object name="workflowFactory" type="DotNetTools.Workflow.Loader.SpringWorkflowFactory,DotNetTools.Workflow" init-method="Init">
        <property name="Resource">
          <value>samples\workflows.xml</value>
        </property>
      </object>
      <object name="configuration" type="DotNetTools.Workflow.Config.SpringConfiguration,DotNetTools.Workflow">
        <property name="Factory">
          <ref object="workflowFactory"/>
        </property>
        <property name="Store">
          <ref object="workflowStore"/>
        </property>
      </object>
      <object name="workflow" type="DotNetTools.Workflow.Basic.BasicWorkflow,DotNetTools.Workflow">
        <constructor-arg>
          <value>jjx</value>
        </constructor-arg>
        <property name="Configuration">
          <ref object="configuration"/>
        </property>
        <property name="Resolver">
          <ref object="typeResolver"/>
        </property>
      </object>
    </objects>
  </spring>
     <castle>
        <facilities>

        </facilities>

        <components>
		<component id="typeResolver" service="DotNetTools.Workflow.TypeResolver,DotNetTools.Workflow" type="DotNetTools.Workflow.Util.CastleTypeResolver,DotNetTools.Workflow"/>
<component id="workflowStore" type="DotNetTools.Workflow.Spi.Memory.MemoryWorkflowStore,DotNetTools.Workflow" service="DotNetTools.Workflow.Spi.IWorkflowStore,DotNetTools.Workflow"/>
<component id="workflowFactory" service="DotNetTools.Workflow.Loader.IWorkflowFactory,DotNetTools.Workflow" type="DotNetTools.Workflow.Loader.SpringWorkflowFactory,DotNetTools.Workflow">
	<parameters>
		<resource>samples\workflows.xml</resource>
		<reload>true</reload>
	</parameters>
</component>
<component id="configuration"  service="DotNetTools.Workflow.Config.IConfiguration,DotNetTools.Workflow" type="DotNetTools.Workflow.Config.SpringConfiguration,DotNetTools.Workflow">
</component>
<component id="workflow" type="DotNetTools.Workflow.Basic.BasicWorkflow,DotNetTools.Workflow">
	<parameters>
		<caller>jjx</caller>
	</parameters>
    </component>
    <component id="myFunction" type="DotNetTools.Workflow.Functions.MyFunction,DotNetTools.Test"/>
        </components>
    </castle>
</configuration>

